@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    line-height: 140%;
    font-family: "Montserrat";
    font-size: 1px;
}

body {
    display: table;
    margin: 0 auto;
}

.content {
    display: inline;
    width: 390px;
    height: 473px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    margin-right: 25px;
    margin-top: 65px;
    float: left;
}

.text1 {
    color: #2753A2;
    font-size: 40px;
}

.text2 {
    color: #E31E24;
    font-size: 40px;
}

.header-text {
    text-align: center;
    font-size: 26px;
}

h1 {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
    margin-left: 155px;
    margin-top: 50px;
}

.content-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #2753A2;
    font-size: 26px;
}

.content-text {
    text-align: center;
    width: 350px;
    margin: 10px 20px 0px 20px;
    font-size: 20px;
}

.em {
    font-size: 26em;
}

.em2 {
    font-size: 20em;
}

.rem {
    font-size: 26rem;
}

.rem2 {
    font-size: 20rem;
}