table {
    border: 1px solid;
    width: 90%;
    border-color: black;
}

th {
    background-color: #e3e3fd;
    font-weight: normal;
    border: 1px solid;
    border-color: black;
    color: brown;
}

td {
    border: 1px solid;
    border-color: black;
}

.main-tags {
    font-weight: bold;
    color: brown;
}

.tags {
    color: brown;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}